/* ERIC MYERS CSS RESET -- http://cssreset.com/scripts/eric-meyer-reset-css/ */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html { /* added by team captain planet */
  box-sizing: border-box;
}
*, *:before, *:after { /* added by team captain planet */
  box-sizing: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************** END CSS RESET **********************/
/* for reference: golden ratio: 1.618 */


/**************** SHARED CSS BETWEEN STATIC PAGES SERVED BY SERVER AND APPLICATION PAGES ************************/
body {
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px; /* sets base for em font values below */
  color: #333;
  background:#FBFBFB;
}


a{
  text-decoration: none;
  font-weight: 400;
  color: rgba(16,91,99, 1);
}


footer{
  text-align: center;
  clear: both;
  font-size: 1em;
  display: block;
/*   position: absolute; */
  margin-top: 5em;
  bottom: 0;
  width: 100%;
  padding-bottom: 1em;
}

footer ul{
    list-style:none;
    padding:0;
    margin:0 auto;
}

footer ul li{
  display: inline;
  margin:.5em 1em;
}
footer ul .copyright{
  margin:.5em auto .5em auto;
}


/********** LOGIN - SIGN IN - ABOUT - BLOG - PRESS - CAREERS - CONTACT - TERMS & PRIVACY PAGES ************/

.verification_header{
  text-align:center;
  padding:1em 0em;
}
.verification_logo{
  width:125px;
}
.verification_container{
  display:block;
  width:50%;
  max-width:600px;
  min-width:300px;
  text-align: center;
  margin: auto;
  margin-top: 3.236em;

  /* box stylings */
  border:thin solid #CCC;
  box-shadow: .1em .1em .2em #999;
}

.verification_container h1{
  margin: .809em 0em;
  font-size: 3.236em;
}

.verification_container p{
  font-size: .9em;
}

.verification_container .errorMsg{
  color: #f00;
}

.verification_container input{
  font-size: 1em;
  height: 2.5em;
  width: 16.8em;
  padding:0em .5em;
  margin: 1em 0em;
  border:thin solid #CCC;
  outline-color: rgba(16,91,99, 1);
}

.verification_container button{
  width:100%;
  height:2.5em;
  margin-bottom:1.618em;
  color:#EEE;
  font-size: 1.1em;
  background-color: rgba(16,91,99, .6);
  outline: none;
  border:none;
  box-shadow: .1em 0em .2em #999;

}

.verification_container button:hover{
  transition: background-color .4s, color .4s;
  background-color: rgba(16,91,99, .85);
  color:#FFF;
  cursor: pointer;

}

.verification_container button:active{
  transition: background-color .4s, color .4s;
  background-color: rgba(16,91,99, 1);
  outline: none;
  color:#FFF;
  cursor: pointer;

}

/********** LOGIN - SIGN IN - ABOUT - BLOG - PRESS - CAREERS - CONTACT - TERMS & PRIVACY PAGES ************/

.appHeader {
  float:left;
  width:100%;
  background-color: rgba(189,73,50, 1);
  /* border-bottom:#333 solid thin; */
  border-bottom: none;
  margin-bottom:2em;
}

.appHeader a{
  color:#FFF;
}

.appHeader a:hover{
  color:rgba(41,255,255,1);
  cursor: pointer;
}


.appHeaderNav{
  padding: 0em 1em;
  margin: 0 auto;
  width: 100%;
}

.appHeaderNav > li{
  float:left;
  line-height:62.5px;
  height:62.5px;
  padding:0em 1em;
}

.topbar_logo{
  width: 62.5px;
}
.rezzy_button a{
    margin: 1em;
    padding:.5em 1em;
    border-radius:.2em;
    outline:none;
    color: #fff;
    border: thin solid rgba(232,167,58, 1);
}

  .rezzy_button a:hover{
    transition: background-color .2s;
    color:#fff !important;
    background-color: rgba(222,160,55, 1);
    text-shadow: -.03em .03em #27496d;
  }

  .rezzy_button a:active {
    transition: background-color .2s;
    color:#fff !important;
    background-color: rgba(212,153,52, 1);
    text-shadow: -.01em .01em #193047;
  }


.entryButtons{
  float: right !important;
}
  .entryButtons a{
    margin: 1em;
    padding:.5em 1em;
    border-radius:.2em;
    outline:none;
    color: #fff;
    border: .2em solid rgba(30,170,186, 1);
  }

  .entryButtons a:hover {
    transition: background-color .2s;
    color:#fff !important;
    background-color: rgba(30,170,186, 1);
    text-shadow: -.03em .03em #27496d;
  }

  .entryButtons a:active {
    transition: background-color .2s;
    color:#fff !important;
    background-color: rgba(27,152,166, 1);
    text-shadow: -.01em .01em #193047;
  }

.header_photo{
  width: 5%;
}
.profileMenu{
  float:right !important;
  position: relative;
}

.profileMenu:hover{
   border-radius:.2em .2em 0em 0em;
   background-color:#853323;
   border:thin solid #CCC;
   border-bottom:none;
/*    box-shadow: inset 0em 0em 12em .7em #853323; */
   box-shadow: .3em 0em 1em #333;
   border:none;
}

.userMenu {
    display: none;
    position: absolute;
    min-width: 100%;
    margin: 0 -1em; /* offset profileMenu offset */
    background:#999;
    box-shadow: .4em 0em 1em #666;
}

.userMenu_item{
  color: #333 !important;
  background-color:#fff;
/*   border:thin solid #CCC; */
  border-top:none;
  padding-left: .5em;
}

.userMenu_item:hover{
  transition:background-color .2s;
  color:#fff !important;
  background: rgba(41,233,255, .8);
}
.profileMenu a:hover{
  color: #fff !important;
}

.profileMenu:hover .userMenu {
    display: block;
}


#main_view{
  clear:both;
  height:100%;
  min-width:400px;
  margin:0em 1em;
}

/**************** HOME PAGE RESOURCES DESIGNS SETTINGS *****************/
.fa{
  color: rgba(189,73,50, 1);
  font-size:1.1em;
}
.homepage_logo{
  display: block;
  margin: 0 auto;
  max-width:200px;
  min-width:180px;
  width: 25%;
  padding: 0;

}
.filter_buttons_container {
  display: block;
  text-align: center;
  margin:1em auto;
  width: 100%;
  font-size:5em;
}

.main-lang-logos:hover{
  cursor:pointer;
  text-shadow: .04em .04em .1em #999;
}

.filter_button{
  display:inline-block;
  text-align: center;
  background:none;
  border: thin solid #CCC;
  border-radius: .2em;
  color: #667;
  outline: none;
  font-size: 1em;
  margin:.5em;
}
.filter_button:hover{
  transition: color .2s, background-color .2s;
  text-align: center;
  color:#FFF;
  background: rgba(35,201,219, 1);
  border: thin solid rgba(35,201,219, 1);
  cursor:pointer;
}

.search_container{
  text-align: center;
  clear:both;
  margin:1em 0em 2em 0em;
}
#search_input {
  display:inline-block;
  position: relative;
  margin:1.5em auto;
  max-width: 40em;
  min-width:20em;
  width:90%;
  border:thin solid #CCC;
  height: 3.5em;
  margin-bottom:3em;
  padding:0em 2.5em 0em .5em;
  background:rgba(255,255,255,.6);
  font-size:1.1em;
  outline-color: rgba(35,201,219, 1);
}
.fa-search{
  position:absolute;
  line-height: 3em;
  z-index:1;
  font-size:1.5em;
  margin:.75em 0em 0em -1.5em;
  color: rgba(35,201,219, 1) !important;
}
  .fa-search:hover{
    cursor: pointer;
  }

#resource_list_container {
  /* display: block; */
  text-align: center;
  /* margin:0 auto; */
  max-width:100%;
  min-width:400px;
  /* width:90%; */
  font-family: 'Source Sans Pro', sans-serif;
}

.resource_item {
  /* border-radius:.2em; */
  text-align: left;
  display: inline-block;
  vertical-align: top;
  min-height: 15em;
  background-color: #FAFAFA;
  border: thin solid #999;
  border-radius: .6em;
  max-width:40em;
  width: 40%;
  /* float:left; */
  margin: 1% 5%;
  padding: 1em;
}

  .resource_item:hover {
    transition: box-shadow .2s;
    border-radius: .5em;
    border: solid .2em rgba(32,182,199,.9);
    box-shadow: .4em .4em .1em rgba(32,182,199,.9);
    cursor:pointer;
  }

.resource_title {
  text-align:left;
  padding-bottom: .1em;
  width: 90%;
  word-wrap: break-word;
  font-weight:600;
  color: #333 !important;
  font-size: 2.427em;
  float:left;
}

.resource_url{
  clear:both;
  font-size:1em;
  color: #FFF;
  float:left;
  padding: .5em;
  background: rgba(112,128,144,1);
  width: 100%;
}
.resource_type { /* icons */
  margin: .25em;
  font-size:1.5em;
  float:right;

}
.resource_desc {
  font-size: 1.1em;
  padding: 1em 0em 3em .5em;
  word-wrap: break-word;
  color: #43464C;
  clear:both;
}


.resource_lang {
  padding: 1em 0em 0em .5em;
  clear:both;
}

.miniCodeLogo{
  font-size:2em;
}
.like_dislike{
  font-size:1.2em;
  text-align:right;
}

.resource_likes {
  padding: .25em .25em .25em .5em;
  display:inline;
}
  .resource_likes:hover {
    cursor: pointer;
  }


.resource_dislikes {
  padding: .25em .25em .25em .5em;
  display:inline;
}
  .resource_dislikes:hover {
    cursor: pointer;
  }
/**************** PROFILE PAGE RESOURCES DESIGNS SETTINGS *****************/
.profile_photo_container{
  display: block;
  float:left;
}
  .profile_photo{
    width:250px;

  }
.profile_information_container{
  float:left;
  font-size:1.618em;
  font-weight:600;
  color:#667;
  margin-left:1em;

}
  .profile_name{
    margin-bottom:1em;
  }
  .profile_email{
    font-size:.809em;
  }
.profile_language_container{
  clear:both;
  text-align:center;

}
 .profile_language_container h2, .edit_profile_container h2{
    clear:both;
    font-size:1.618em;
    font-weight:600;
    color:#667;
    padding:2em 0em 1em 0em;

  }

.edit_profile_button{
  float:right;
    text-align: center;
    background:none;
    border: thin solid #CCC;
    border-radius: .2em;
    color: #667;
    outline: none;
    font-size: 1.1em;
    padding:1em;
    margin:.5em;

}

.edit_profile_button:hover{
    transition: color .2s, background-color .2s;
    text-align: center;
    color:#FFF;
    background: rgba(35,201,219, 1);
    border: thin solid rgba(35,201,219, 1);
    cursor:pointer;
  }

.edit_profile_container{
  margin-top:3em;
  text-align:center;
}

.edit_profile_container form{
  display:block;
  margin:2em auto 3em auto;
  width:50%;
  min-width:400px;
  max-width:600px;
  text-align:center;
}


.edit_profile_container .input{
  display:block;
  margin:1em auto;
  width:32em;
  padding:0em .5em 0em .5em;
  font-size:1em;
  color:#666;
  border: thin solid #999;
  border-radius:.2em;
  height:4em;
  outline-color: rgba(35,201,219, 1);
}

.thumbnail{
  width:200px;
}

.submit_profile_button{
    float:right;
    text-align: center;
    background:none;
    border: thin solid #CCC;
    border-radius: .2em;
    color: #667;
    padding:.5em;
    outline: none;
    font-size: 1.2em;
    width:100%;
    margin:2em 0em;
  }
.submit_profile_button:hover{
    transition: color .2s, background-color .2s;
    text-align: center;
    color:#FFF;
    background: rgba(35,201,219, 1);
    border: thin solid rgba(35,201,219, 1);
    cursor:pointer;
  }

  /************* ADD RESOURCES PAGE *********************/
  .add_resource_container{
    text-align:center;
    display:block;
  }
  #rezzy_guidelines{
    position:absolute;
    left:0;
    top:10%;
    background:#099;
  }
  .rezzy_title{
    font-size:4em;
    font-weight:700;
    background-color: #999;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
      -moz-background-clip: text;
            background-clip: text;
  }
  .add_resource_form{
    display:block;
    margin:2em auto 3em auto;
    width:50%;
    min-width:400px;
    max-width:600px;
    text-align:center;
  }
  .add_resource_container input, select, textarea{
    font-size:1em;
    padding:0 .5em;
    display:block;
    height:3em;
    color:#667;
    width:100%;
    margin:.5em auto;
    max-width:70%;
    text-align:justify;
    border:thin solid #CCC;
    outline-color: rgba(35,201,219, 1);
  }

  .add_resource_container textarea{
    min-height:9em;
  }

  .add_resource_container button{
    float:none;
    text-align: center;
    background:none;
    border: thin solid rgba(35,201,219, 1);
    border-radius: .2em;
    color: #667;
    padding:.5em;
    outline: none;
    font-size: 1.2em;
    width:70%;
    margin:3em;
  }
  .add_resource_container button:hover{
    transition: color .2s, background-color .2s;
    text-align: center;
    color:#FFF;
    background: rgba(35,201,219, 1);
    border: thin solid rgba(35,201,219, 1);
    cursor:pointer;
  }

  .rules{
    text-align:justify;
    margin:0 auto;
    color:#999;
    width:70%;
  }
  .rules h2{
    font-weight:700;
    margin:1em 0em;;
  }
  .rules li{
    padding:.3em 0em;
    list-style: square;
  }

  .successMessage {
    color:#008000;
    font-weight: 700;
    font-size: 2em;
  }