<div class='about_container'>
  <img class="homepage_logo" src="/style/images/n-list-full_500.png">
  <br/>
  <br/>

  <h1>Team Captain Planet</h1>

  <br/>
  <br/>

  <p class="about_quote">
    N-List bridges developer communities with ideas and resources.
    Our mission is to create an environment where developers can find reputable resources readily and easily.
  </p>


  <br/>  
  <br/>

<a target="_blank" href="https://www.linkedin.com/in/daniel-wirz-018733123">
  <div class="profile_overlay daniel">
    <img class="profile_img"src="../../assets/dan.png" alt="Daniel photo">
    <h2 class="team_mate">Daniel Wirz</h2>
    <div class="daniel_description"><h3>Hi! I'm Dan</h3></div>
  </div>
</a>

<a target="_blank" href="https://www.linkedin.com/in/strongharris">
  <div class="profile_overlay harris">
    <img class="profile_img" src="../../assets/harris.png" alt="Harris photo">
    <div><h2 class="team_mate">Harris Lee</h2></div>
    <div class="harris_description"><h3>Hi! I'm Harris</h3></div>
  </div>
</a>

<a target="_blank" href="https://www.linkedin.com/in/kent-moreland-638aa6105">
  <div class="profile_overlay kent">
    <img class="profile_img" src="../../assets/kent.png" alt="Kent photo">
    <h2 class="team_mate">Kent Moreland</h2>
    <div class="kent_description"><h3>Hi! I'm Kent</h3></div>
  </div>
</a>

<a target="_blank" href="https://www.linkedin.com/in/michaelolorunnisola">
  <div class="profile_overlay michael">
    <img class="profile_img" src="../../assets/mike.png" alt="Mike photo">
    <h2 class="team_mate">Michael Olorunnisola</h2>
    <div class="michael_description"><h3>Hi! I'm Michael</h3></div>
  </div>
</a>

<a target="_blank" href="https://www.linkedin.com/in/neekon-etemad-072b31a7">
  <div class="profile_overlay neekon">
    <img class="profile_img" src="../../assets/neek.png" alt="Neekon photo">
    <h2 class="team_mate">Neekon Etemad</h2>
    <div class="neekon_description"><h3>Hi! I'm Neekon</h3></div>
  </div>
</a>
  
</div>
