<div class='about_container'>
  <img class="homepage_logo" src="/style/images/n-list-full_500.png">
    <p>
      N-List bridges developer communities with ideas and resources.
      Our mission is to create an environment where developers can find reputable resources readily and easily.
    </p>

  <h1>Team Captain Planet</h1>
  <div class="profile_overlay">
    <img class="profile_img"src="../../assets/dan.png" alt="Daniel photo">
    <h2 class="team_mate">Daniel Wirz</h2>
    <span class="about_description"><h1>Hi! I'm Dan</h1></span>
  </div>
  <div class="profile_overlay"><img class="profile_img" src="../../assets/harris.png" alt="Harris photo">
  <div><h2 class="team_mate">Harris Lee</h2></div></div>
  <div class="profile_overlay"><img class="profile_img" src="../../assets/kent.png" alt="Kent photo">
  <h2 class="team_mate">Kent Moreland</h2></div>
  <div class="profile_overlay"><img class="profile_img" src="../../assets/mike.png" alt="Mike photo">
  <h2 class="team_mate">Michael Olorunnisola</h2></div>
  <div class="profile_overlay"><img class="profile_img" src="../../assets/neek.png" alt="Neekon photo">
  <h2 class="team_mate">Neekon Etemad</h2></div>
</div>
