<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <style>
    .container{
      text-align: center;
      margin-top: 5em;
    }

    .input{
      display: block;
      margin: 1em auto;
    }
  </style>
</head>
<body>
  <section class="container">
    <h1>LOGIN</h1>
    <form method="post">
        <input id="email" class="input" name="email" type="email" placeholder="Email">
        <input id="password" class="input" name="password" type="text" placeholder="Password">
        <button type="submit">Submit</button>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
  $('button').on('click', function(e){
    e.preventDefault();
    var data = {'email': $('#email').val(), 'password': $('#password').val()}
    $.ajax({
      url: "/users/login",
      contentType: "application/json",
      type: "post",
      data: JSON.stringify(data),
      success: function(){
        window.location.href = 'http://localhost:3000/'
      }
    })
  })
</script>
</body>
</html>
