<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign-Up</title>
  <style>
    .container{
      text-align: center;
      margin-top: 5em;
    }

    .input{
      display: block;
      margin: 1em auto;
    }
  </style>
  <!-- need to use link these from the correct folder -->
  <!-- <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
  <script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
  <script src="/controller.js"></script> -->

</head>
<body>
  <section class="container">
    <h1>SIGN-UP</h1>
    <form action"post">
      <input class="input" name="name" type="text" value="accountname" placeholder="Full Name">
      <input class="input" name="email" type="email" value="email" placeholder="Email Address">
      <input class="input" name="password" type="text" value="password" placeholder="Password">
      <form   name="up.upload_form">
        <input
            type="file"
            ngf-select
            ng-model="up.file"
            name="file"
            id="file"
            ngf-pattern="'image/*'"
            accept="image/*"
            ngf-max-size="20MB"
            />

        <img style="width:100px;" ng-show="!!up.file" ngf-thumbnail="up.file || '/thumb.jpg'"/>

    </div>
    </form>
      <button type="submit">Submit</button>
    </form>
</section>
</body>
</html>
