<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign-Up</title>
  <style>
    .container{
      text-align: center;
      margin-top: 5em;
    }

    .input{
      display: block;
      margin: 1em auto;
    }
  </style>


</head>
<body>
  <section class="container">
    <h1>SIGN-UP</h1>
    <form method="post">
      <input id="name" type="text" name="name" placeholder="Username">
      <input id="email" type="email" name="email" placeholder="Email">
      <input id="password" type="password" name="password" placeolder="Password">
      <button type="submit">Sign Up</button>
    </form>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
  $('button').on('click', function(e){
    e.preventDefault();
    var data = { 'name' : $('#name').val(), 'email': $('#email').val(), 'password': $('#password').val()}
    $.ajax({
      url: "/signup/register",
      contentType: "application/json",
      type: "post",
      data: JSON.stringify(data)
    })
  })
</script>
</body>
</html>
