<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign-Up</title>
  <style>
    .container{
      text-align: center;
      margin-top: 5em;
    }

    .input{
      display: block;
      margin: 1em auto;
    }
  </style>
</head>
<body>
  <section class="container">
    <h1>SIGN-UP</h1>
    <form action"post">
      <input class="input" type="text" value="accountname" placeholder="Full Name">
      <input class="input" type="email" value="email" placeholder="Email Address">
      <input class="input" type="text" value="password" placeholder="Password">
      <button type="submit">Submit</button>
    </form>
</section>
</body>
</html>
