<div class="add_resource_container"> <!--Add Resources-->
  <h1 class="rezzy_title">Add A Rezzy</h1>
    <form class="add_resource_form" ng-submit="addPost()">
      <input type="text" name="title", placeholder="Title" ng-model="title" required>
      <br />
      <textarea type="text" name="Description" placeholder="Description" ng-model="description" required></textarea>
      <br />
      <select name="repeatSelect" id="repeatSelect" ng-model="data.type">
        <option value="" disabled selected>Type of rezzy?</option>
        <option ng-repeat="option in data.typeOptions" value="{{option.value}}">{{option.label}}</option>
      </select>
      <br />  
      <select name="repeatSelect" id="repeatSelect" ng-model="data.name" required>
        <option value="" disabled selected>Which Language?</option>
        <option ng-repeat="option in data.languageOptions" value="{{option.value}}">{{option.label}}</option>
      </select>
      <br />    
      <select name="repeatSelect" id="repeatSelect" ng-model="data.topic">
        <option value="" disabled selected>Specified topic? (select none if n/a)</option>
        <option ng-repeat="option in data.topics[data.name]" value="{{option.value}}">{{option.label}}</option>
      </select>
      <br />
      <input type="url" placeholder="Link http://www.example.com" ng-model="link" required>
      <ul class="rules">
        <h2>Before you submit....</h2>
        <li>Is all the information as accurate as possible?</li>
        <li>Are your links clean and safe?</li>
        <li>Can you make your description more detailed to help others out?</li>
      </ul>
      <button type="submit" ng-submit="successMessage = true">Submit</button>
    </form>
    <span ng-if="successMessage">It's posted!</span>
</div>