<div>

  <h2>Add Links</h2>
    <form ng-submit="addPost()">
      <table>
        <thead>

          <tr>
            <th>Creator</th>
            <th>Description</th>
            <th>Type</th>
            <th>Language</th>
            <th>Links</th>
          </tr>

          <tr ng-sumbit ="addPost()">
            <td><input type="text" placeholder="Name" ng-model="name"></td>
            <td><input type="text" placeholder="Description" ng-model="description"></td>
            <td>
            <form name="myForm">
              <select name="repeatSelect" id="repeatSelect" ng-model="data.type">
                <option ng-repeat="option in data.typeOptions" value="{{option.value}}">{{option.label}}</option>
              </select>
            </form>
            <td>
              <form name="myForm">
              <select name="repeatSelect" id="repeatSelect" ng-model="data.language">
                <option ng-repeat="option in data.languageOptions" value="{{option.value}}">{{option.label}}</option>
              </select>
            </form>
            </td>
            <td><input type="text" placeholder="Link" ng-model="link"></td>
            <td><button type="submit">Add</button></td>
          </tr>

        </thead>
      </table>
    </form>

  <h2>View Links</h2>
    <form>
      <table>
        <thead>
          <tr>
            <th>Description</th>
            <th>Type</th>
            <th>Lanaguage</th>
            <th>Links</th>
            <th>Votes</th>

          <tr ng-repeat="post in posts" | orderBy: '-likes'">
            <td><span>{{post.description}}</span></td>
            <td><span style = "margin-left:20px">{{post.type}}</span></td>
            <td><span style = "margin-left:20px">{{post.language}}</span></td>
            <td><span style = "margin-left:20px">{{post.link}}</span></td>
            <td><span ng-click="incrementLike(post)" style = "margin-left:20px">{{post.likes}} Likes</span></td>
            <td><span ng-click="incrementDislike(post)" style = "margin-left:20px">{{post.dislikes}} Dislikes</span></td>
          </tr>
        </thead>
      </table>
    </form>
</div>


