<div ng-controller="ProfileController as up">
  <h1>Update Profile</h1>


  <form method="post" >
    <input class="input" ng-model="userUpdate.name" name="name" type="text" value="{{userUpdate.name}}">
    <input class="input" ng-model="userUpdate.email" name="email" type="email" value="{{userUpdate.email}}">
    <input class="input" ng-model="userUpdate.password" name="password" type="text" value="{{userUpdate.password}}">
  </form>
    <form   name="up.upload_form">
      <input
          type="file"
          ngf-select
          ng-model="up.file"
          name="file"
          id="file"
          ngf-pattern="'image/*'"
          accept="image/*"
          ngf-max-size="20MB"
          />

      <img style="width:100px;" ng-show="!!up.file" ngf-thumbnail="up.file || '/thumb.jpg'"/>



      <button ng-click="up.submit(); editProfile()">Submit</button>
    </form>
  </div>


  <!-- <option ng-repeat="option in data.languageOptions" value="{{option.label}}">{{option.label}}</option> -->
